@charset "ISO-8859-1";
#content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    max-width: 480px;
}
.block {
    clear: both;
    padding-top: 20px;
}

label
{
	font-weight: bold;
}

body{
	background-color: #c6c6e6;
}

input[type=number] {
    width: 50px;
    text-align: right;
    float: right;
}

.rhs{
	    float: right;
}

.lhs{
	    float: left;
}

.center{
	margin: auto;
}

#question{
	width: 480px;
	height: 130px;
}


.options{
	width: 450px;
	height: 34px;
}

input[type="radio"] {
    vertical-align: super;
}

#optionsValidator{
	color: red;
	font-size: 12px;
}

input[type="checkbox"] {
    vertical-align: super;
}

