.logo-nav-optimize{
	background-color: #ffffff;
}
.logo-img{
	height: 16vh;
	width: 12vw;
	padding-top: 2em;
}
.header-text{
	font-size: 1em;
	float: right!important;
	color: #757575;
	letter-spacing: 0.1em;
	margin-right: 1em;
	font-family: 'Pacifico', cursive;
}
.portal-text{
font-family: 'Bree Serif', serif;
}